.topbar {
  display: flex;
  padding: 1rem;
}

.topbar .left {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.divider {
  border-right: 2px solid #ebebeb;
  height: 90vh;
}
.topbar .right {
  display: flex;
  align-items: flex-start;
}

.topbar-input-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  padding-left: 3rem;
  background: #f1f5f9;
}

.topbar-input-container input {
  padding: 5px 10px 5px 1.5rem;
  border: none;
  border-radius: 2.5rem;
  width: 18rem;
  height: 2.5rem;
  background: #f1f5f9;
}

.topbar-input-container .icon-start {
  position: absolute;
  left: 2rem;
}

.topbar-input-container input:focus {
  outline: none;
}
